<div class="btn-group flex-wrap w-100">
  <button class="btn btn-success" ngbTooltip="User">
    <i class="fa-solid fa-user fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="House">
    <i class="fa-solid fa-house fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Envelope">
    <i class="fa-solid fa-envelope fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Circle">
    <i class="fa-solid fa-circle fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Anchor">
    <i class="fa-solid fa-anchor fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Award">
    <i class="fa-solid fa-award fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Candy Cane">
    <i class="fa-solid fa-candy-cane fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Cookie">
    <i class="fa-solid fa-cookie fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Diamond">
    <i class="fa-solid fa-diamond fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Eye">
    <i class="fa-solid fa-eye fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Save">
    <i class="fa-solid fa-floppy-disk fa-fw"></i>
  </button>
  <button class="btn btn-success" ngbTooltip="Config">
    <i class="fa-solid fa-cog fa-fw"></i>
  </button>
</div>
